Package: plymouth-theme-biglinux
Version: 1.0.0-3big1
Depends: plymouth
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:2560
Description: Plymouth theme for BigLinux made by lunimare




